.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.container {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

}
.Header {
  background-color: #222;
  height: 300px;
  padding: 0em;
  color: white;
  padding: 5em 5em 5em 8em;

}

.Header-title {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

.Header-description {
  color: white;
  font-size: 1em;
}

.App-intro {
  font-size: large;
  margin: 10em;
}

.MainContent {

  grid-column: 2 / 4;
  grid-row: 1 / 3;
  width: 600px;
  padding: 1em 1em 0em 0em;
}

.MainContent-title {
  color: #222;
  font-size: 2em;
}

.MainContent-body {
  font-size: 1em;
  color: #222;
  opacity: 0.75;
}


.Sidebar {

  grid-column: 1 / 3;
  grid-row: 1;

  background-color: #222;
  width: 300px;
  height: auto;
  margin: 2em 0em 0em -1.5em;
  padding: 1em 1em 1em 1em;
}

.Sidebar-title {
  color: white;
  font-size: 1.5em;
}

.Sidebar-body {
  font-size: 1em;
  color: #FFF;
  opacity: 0.75;
}

footer {
  background-color: #222;
  color: white;
  padding: 1em 1em 1em 8em;
}

.Button {
  padding: 10px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border: 2px solid #333;
  box-shadow: #333
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
