
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 10px;
  grid-row-gap: 10px;
  padding: 1em 7em 1em 7em;
}

.Header {
  background-color: #00E5FF;
  height: 250px;
  color: #222;
  padding: 5em 5em 5em 8em;
}

.Header-title {
  color: #222;
  font-size: 2.5em;
  font-weight: bold;
}

.Header-description {
  color: #222;
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

.MainContent {
  padding: 1em 1em 1em 1em;
}

.MainContent-title {
  color: #FFF;
  font-size: 2em;
}

.MainContent-body {
  font-size: 1em;
  color: #FFF;
  opacity: 0.75;
}


.Sidebar {
  background-color: orange;
  padding: 1em 1em 1em 1em;

}

.Sidebar-title {
  color: white;
  font-size: 1.5em;
}

.Sidebar-body {
  font-size: 1em;
  color: #FFF;
  opacity: 0.75;
}

footer {
  background-color: #333;
  color: white;
  padding: 1em 1em 1em 8em;
}

.Button {
  padding: 10px;
  background-color: #222;
  color: white;
  font-weight: bold;
  border: 2px solid #333;
  box-shadow: #333
}

.Box {
  background: orange;
  color: #222;
  padding: 3em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
